.toggle-icon{
    margin-right: 10px !important;
    margin-left: -8px !important;
}

.icon {
    width: 24px !important;
}

.tree-list {
    background: inherit;
    color: #838383 !important;
}

.more_vert {
    box-shadow: none;
    min-height: 5px !important;
}

.popup-display {
    min-width: 70px;
    height: auto;
    margin: 11px 11px 11px -18px;
}

.basic-popup-menu ul {
 list-style-type: none !important;
}

.popup-item {
    margin-top: 7px !important;
    margin-bottom: 10px !important;
    margin-right: 5px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.hide{
    display: none;
}

.single-item-icon {
    margin-left: -10px;
}

.single-item-icon-right {
    right: 0;
    position: absolute;
    margin-left: 10px;
}

.single-item-label {
    margin-left: 10px;
    margin-right: 15px;
}

.select-list-item {
    white-space: unset;
}