<material-select class="material-select-list-view bordered-list">
    <material-select-item (click)="selectFolder(item)" class="select-list-item"
                          *ngFor="let item of treeItemLabelList"
                          [selected]="item == selectedItem"
                          [style.padding-left.px]="item.indentPx">
        <material-icon *ngIf="item.toggleVisible" [icon]="item.toggleGlyph"
                       [ngClass]="{'hide' : !item.isVisible}"
                       class="material-list-item-primary"></material-icon>

        <i [ngClass]="{'hide' : !item.isVisible || item.glyph == '' || item.showIconRight,
                        'toggle-icon' : item.toggleVisible,
                        'single-item-icon' : !item.toggleVisible && !item.hasChildren
                    }"
           class="material-icons" (click)="popupIcon(item)" raised popupSource
           #source="popupSource">{{item.glyph}}</i>

        <material-radio *ngIf="item.showRadioButton" class=""
                        [(checked)]="item.selected"
                        [value]="item.label">{{item.label}}
        </material-radio>

        <span *ngIf="!item.showRadioButton && item.isVisible"
              [ngClass]="{ 'single-item-label' : !item.toggleVisible && !item.hasChildren }">
            {{item.label}}
        </span>

        <i [ngClass]="{ 'hide' : !item.isVisible || item.glyph == '' || !item.showIconRight
                    }"
           class="material-icons single-item-icon-right" (click)="popupIcon(item)" raised popupSource
           #source="popupSource">{{item.glyph}}</i>

        <div *ngIf="selectedItem==item && !item.toggleVisible && item.showPopup">
            <material-popup [source]="source" [(visible)]="menuOption">
                <div class="basic-popup-menu popup-display">
                    <ul>
                        <li *ngFor="let popupItem of popupItemList"
                            class="popup-item cursor-pointer" (click)="selectPopupItem(popupItem, item)">
                            <span>{{popupItem}}</span>
                        </li>
                    </ul>
                </div>
            </material-popup>
        </div>
    </material-select-item>
</material-select>
