<modal [visible]="showLoading">
    <material-dialog class="loading-dialog">
        <div class="loading">
            <material-spinner class="loading-image" style="margin:0 auto; display:block" ></material-spinner>
        </div>
    </material-dialog>
</modal>