<modal [visible]="showDialog">
    <material-dialog class="basic-dialog">
        <h3 class="dialog-msg">{{message}}</h3>
        <div footer>
            <material-button raised class="blue" (click)="clickOk()">
                Ok
            </material-button>
        </div>
    </material-dialog>
</modal>