<div class="login" [ngStyle]="{'background-color': isShowEfspLinks ? '#ffffff' : '#f2f2f2'}">
<div *ngIf="isShowHeader">
    <header-part [headerTitle]="headerTitle"></header-part>
</div>


    <div class="show-efsp-links" [innerHTML]="efspLinksHtml | safeHTML"></div>
<div class="login-body-part">

    <div class="right">
        <label class="login-title"> Login </label>
    </div>

    <div class="mdl-card right z-depth-1">
        <div class="mdl-card__actions mdl-card-border">
            <form #loginForm="ngForm" class="login-form">
                <material-input class="login-input input-field" id="email" autoFocus
                                floatingLabel
                                [(ngModel)]="email"
                                label="Username">
                </material-input>
                <material-input type="password" class="login-input input-field"
                                id="password"
                                [(ngModel)]="password"
                                floatingLabel label="Password">
                </material-input>
                <button type="submit" (click)="onClickSignIn()" class="blue sign-in-btn">SIGN IN</button>
            </form>
            <ng-content></ng-content>
        </div>
    </div>
</div>
</div>