.login{
    /*height: 98vh !important;*/
    position: absolute;
    /*background-color: #f2f2f2;*/
    height: 91.5%;
    width: 100%;
}
.center {
    position: absolute;
    top: 50%;
    left: 42%;
}

.login-body-part{
    padding: 5%;
    padding-right: 5%;
}

.login-title{
    font-size: 2rem;
    margin-left: -160px;
    margin-top: -20px!important;
    color: #2196f3;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.login-input{
    /*width: 210px !important;*/
    /*padding: 0px !important;*/
    /*display: -webkit-box !important;*/
    width: 100%;
    display: initial;
}

.sign-in {
    position: absolute;
    width: 212px;
    margin: 0px!important;
    margin-top: 9%!important;
}

.blue {
    color: white;
    background-color: #2295f3;
}

.blue:hover{
    color:white !important;
    background-color:#2295f3 !important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.right {
    float: right;
}

.z-depth-1{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mdl-card__actions {
    background: white;
    padding: 6%;
    margin-top: 95px;
    /*height: 195px;*/
    height: auto;
}

.mdl-card {
    width: 240px;
    margin-top: 50px;
    /*height: 280px;*/
    background: url('static/images/login-background.png');
    background-size: 100%;
    padding: 0!important;
}

.sign-in-btn{
    height: 35px;
    border: 0;
    font-size: 14px;
    position: absolute;
    width: 212px;
    margin: 0px!important;
    margin-top: 1%!important;
    cursor: pointer;
}

.login-form {
    height: 200px;
}

.show-efsp-links{
    width: 50%;
    float: left;
}