<!-- header demo -->
<!--<header-demo></header-demo>-->

<!--<login-demo></login-demo>-->

<!-- wizard stepper demo-->
<!--<wizard-step-demo></wizard-step-demo>-->

<!-- Tree wizard demo -->
<tree-wizard-demo></tree-wizard-demo>

<!-- alert dialog demo -->
<alert-dialog-demo></alert-dialog-demo>

<!-- confirmation dialog demo -->
<confirmation-dialog-demo></confirmation-dialog-demo>

<loading-modal-demo></loading-modal-demo>

<br>
<!-- table wizard demo -->
<table-wizard-demo></table-wizard-demo>
