.blue {
    color: white;
    background-color: #2295f3;
}

.blue:hover{
    color:white !important;
    background-color:#2295f3 !important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.align-center {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}