.search-box .leading-text{
    color: black;
    padding-left: 10px !important;
    padding-top: 0px !important;
}

.search-box .input{
    color: black !important;
}

.search-box .baseline {
    background-color: #fff !important;
}

.search-box .focused-underline{
    background-color: #fff !important;
}

.search-box{
    margin-top: 13px;
    width: 400px;
    margin-right: 10vh;
}

.cursor-pointer{
    cursor: pointer ;
}

.blue {
    color: white;
    background-color: #2295f3;
}