<modal [visible]="showSelectionDialog">
    <material-dialog class="basic-dialog">

        <h2 class="dialog-msg">{{selectionDialogMessage}}</h2>
        <div footer>
            <material-button raised class="btn btn-yes blue"
                             (click)="yes()">
                Yes
            </material-button>
            <material-button raised class="btn btn-yes"
                             (click)="no()">
                Cancel
            </material-button>
        </div>
    </material-dialog>
</modal>