<wizard-stepper (continueClickEvent)="clickContinueButton($event)"
                (stepClickEvent)="clickStepButton($event)">
    <wizard-step [tabTitle]="'Contact Info'" [active]="true">
        <span>Contact Info</span>
    </wizard-step>
    <wizard-step [tabTitle]="'Lawfirm Info'">
        <span>Lawfirm Info</span>
    </wizard-step>
    <wizard-step [tabTitle]="'Address'">
        <span>Address</span>
    </wizard-step>
    <wizard-step [tabTitle]="'Step 4'">
        <span>Step 4</span>
    </wizard-step>
</wizard-stepper>