<table class="table">
    <thead class="table-header">
        <tr>
            <th *ngIf="isViewCheckBox"></th>
            <th *ngFor="let header of headerTitleList">
                {{header}}
            </th>
        </tr>
    </thead>
    <ng-content></ng-content>
</table>