.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-header {
    background-color: #d1d9e8;
}

thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
}

th {
    text-align: left;
}