<header-part [headerTitle]="headerTitle"
             [showSearchBox]="showSearchBox"
             [showDrawer]="showDrawer"
             [showFooterImage]="showFooterImage"
             [footerImageUrl]="footerImageUrl"
             [isDrawerVisible]="isDrawerVisible"
             [drawerOptions]="drawerOptions"
             [showUserProfile]="showUserProfile"
             [userName]="userName"
             [firmName]="firmName"
             [headerAutoSearch]="headerAutoSearch"
             (drawerItemClick)="selectDrawer($event)"
             (onClickLogout)="onClickLogout()"
             (headerTitleClick)="onHeaderTitleClick()"
             (autoSearchEnterPress)="autoSearchEnterPress($event)">
    <div menu>
        <i class="material-icons">home</i>
    </div>

</header-part>