<table-wizard class="table-view" [headerTitleList]="headerList">
    <tr *ngFor="let item of itemList">
        <td> {{item['name']}}</td>
        <td>
            {{item['value']}}
        </td>
    </tr>
</table-wizard>

<table-wizard class="table-view" [headerTitleList]="headerList" [isViewCheckBox]=true>
    <tr *ngFor="let item of itemList">
        <td>
            <material-checkbox></material-checkbox>
        </td>
        <td> {{item['name']}}</td>
        <td>
            {{item['value']}}
        </td>
    </tr>
</table-wizard>