.cursor-pointer{
    cursor: pointer ;
}

.wizard-step-body{
    background-color: #eeeeee;
    margin-top: 10px;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 40px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs{
    border-bottom: 0px ;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav > li {
    position: relative;
    display: block;
    margin-right: 10px;
    background-color: #eeeeee;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li > a:focus, .nav > li > a:hover{
    background-color: #2295f3 ;
    color: white ;
    border-radius: 0px ;
}

.active-tab{
    background-color: #2295f3 !important;
}

.tab-a{
    color: #6e6c6c;
    font-size: medium;
}
.tab-a-active{
    color: white !important;
}

/*.nav-tabs > li > a:hover{
    border-color: #2295f3 ;
}*/



.continue-button-div {
    position: fixed;
    display: block;
    right: 0;
    bottom: 37px;
    margin-right: 40px;
    z-index: 900;
}

.continue-float-button{
    background-color: #2196f3;
    color: #fff;
}