@import "../css/dart_components.css";

.header-part {
    background-color: #353333 !important;
    height: 15% !important;
    color: white !important;
}

.header-title {
    font-size: 32px!important;
    float: left;
    position: inherit !important;
    margin-left: 80px;
    margin-right: 20px;
    height: auto !important;
}

.basic {
    height: 100px;
    padding: 10px;
}

.profile-dropdown-row{
    padding-left: 10px;
}

.profile-icon-image{
    background: #ab47bc;
    color: #fff;
    height: 105px;
    width: 105px;
    text-align: center;
    position: relative;
    border-radius: 100%;
    padding: 10px;
    flex: auto !important;
}

.icon-image{
    font-size: 4.2em;
    vertical-align: text-top;
}

.custom-body {
    width: 350px;
    padding: 12px;
}
.custom-body .profile-icon-image{
    width: 30%;
    float:left;
}
.custom-body .profile-nm{
    width: 60%;
    float:left;
    height: inherit;
    padding-top: 30px;
    padding-left: 15px;
}
.custom-footer{
    border-top: 1px solid #ccc;
    padding: 5px;
}

.custom-body .profile-nm .user-name{
    text-align: center !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.custom-body .profile-nm .firm-name{
    font-size: 14px;
}

.popup-content{
    width: 350px;
}

.profile-button{
    border-radius: 16px !important;
    min-width: 35px !important;
    background-color: #ab47bc ;
    color: #fff;
}
.move-right {
    float: right;
}

.logout-button{
    background-color: #2196f3;
    color: #fff;
}

.menu-part{
    float: right;
}

.header-position{
    position: inherit !important;
}

.mt-drawer{
    top: 65px !important;
    pointer-events: none !important;
}

.court-file-logo{
    width: 11%;
    position: fixed;
    bottom: 0px;
    left: 0.5%;
    height: 48px;
    padding-bottom: 6px;
    z-index: 1;
}

.navigation-drawer-item{
    font-weight: 500;
    height: 48px;
    padding: 0 16px;
}

.navigation-drawer-icon{
    color: rgba(0, 0, 0, 0.54);
    margin-right: 32px;
}

.logo-icon{
    height: 30px;
    width: 30px;
    vertical-align: sub;
}

.header-title-text{
    font-size: 25px;
}