<tree-wizard #sample1 [popupItemList]="popupItemList"
             (treeItemClickEvent)="selectTreeItem($event)"
             (popupItemClickEvent)="selectPopupItem($event)"></tree-wizard>


<tree-wizard #sample2 [popupItemList]="popupItemList"
             (treeItemClickEvent)="selectTreeItem($event)"
             (popupItemClickEvent)="selectPopupItem($event)"></tree-wizard>